
/*Large devices, Wide Screens*/
@media only screen and (max-width: 1200px) {
  .sidebar .carousel.fade,
  .sidebar .banner  {
    margin-right: 30px;
  }
}

/*Medium devices, Desktops*/
@media only screen and (max-width: 992px) {
  .carousel-indicators-wrap .carousel-indicators {
    margin-right: 40% !important;
    margin-left: 40% !important;
  }
  .navbar-brand img {
    max-height: 63px;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding-left: 10px;
}
.search {
  display: none !important;
}
.form-inline.my-2.my-lg-0 {
  display: block !important;
  position: relative;
  right: 0;
  background-color: transparent;
}
.sidebar {
  padding-top: 0;
  padding-bottom: 0;
  border-right: none !important;
  margin-right: 0;
}

}

/*Small devices, Tablets*/
@media only screen and (max-width: 770px) {
  .navbar-light .navbar-nav .nav-link:hover {
    background-color: #eee;
}
  .menu-top .container,
  .menu-top .navbar-collapse {
    padding-left: 15px;
}
/* carousel-content */
.menu-carousel .carousel-caption {
  left: 15% !important;
}
.menu-carousel .carousel-caption h5 {
  font-size: 42px !important;
}
.menu-carousel .carousel-caption p {
  font-size: 30px !important;
  margin-bottom: 40px;
}
.product {
  margin-bottom: 10px !important;
}
.content {
  padding-top: 0;
  padding-bottom: 0;
}
}


@media only screen and (max-width: 600px) {
  .menu-carousel .carousel-caption {
    top: 100px !important;
  }
  .menu-carousel .carousel-caption p {
    margin-bottom: 20px !important;
  }
}
@media only screen and (max-width: 540px) {
  .sidebar .col-6 {
    min-width: 100%;
  }
  .sidebar .banner,
  .sidebar .about {
    display: inline-block;
  }
  .sidebar .about {
    max-width: 95% !important;
    padding-top: 50px;
  }
}

/*Extra small devices, Phones*/
@media only screen and (max-width: 480px) {
  .menu-carousel .carousel-caption .btn-red {
    padding: 10px 15px !important;
    font-size: 18px !important;
  }
  .carousel-indicators-wrap .carousel-indicators {
    margin-right: 30% !important;
    margin-left: 30% !important;
  }
}

.block {
  border: 2px solid black;
  background: #ccb;
}
body {
  background: #ececec;
  font-size: 14px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
}
img {
  max-width: 100%;
  height: auto;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
.btn-red {
  background-color: #d51e08;
  color: white;
  border-radius: 3px;
  padding: 5px 20px;
  transition-duration: .5s;
}
.btn-red:hover {
  background-color: #ec4835;
  color: white;

}

/*-----------------header----------------*/
.menu-top {
  background: #fff;
  padding: 20px 0;
  text-transform: uppercase;

}
.navbar-light .navbar-nav .nav-link {
  color: black;
  transition-duration: .5s;
}
.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.bi {
  margin-right: 10px;
  font-size: 21px;
}
.flag {
  margin-right: 5px;
}
.menu-top .container,
.menu-top .navbar-collapse {
  padding-left: 0;
}
/*--------------slide--------------*/
.menu-carousel .carousel-item {
  min-height: 600px;
}
.menu-carousel .bgslide {

}
.bgslide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.carousel.fade {
    opacity: 1;
}
.carousel.fade .carousel-item {
  opacity: 0;
  transition: opacity 3s;
}
.carousel.fade .carousel-item.active {
  opacity: 1;
}
.carousel-item {
    display: block;
}
/* carousel-content */
.menu-carousel .carousel-caption {
  left: 0;
  top: 170px;
}
.menu-carousel .carousel-caption h5 {
  font-size: 48px;
  font-weight: bold;
}
.menu-carousel .carousel-caption p {
  font-size: 30px;
  margin-bottom: 40px;
}
.menu-carousel .carousel-caption .btn-red {
  padding: 20px 30px;
  border-radius: 1px;
  font-size: 24px;
}
.menu-carousel .container {
  position: relative;
}
.carousel-caption {
  position: absolute;
}
/*---------------------------indicators----------------*/
.carousel-indicators-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
.carousel-indicators-wrap .carousel-indicators {
  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  width: auto;
  justify-content: center;
  margin-right: 45%;
  margin-left: 45%;
  padding: 5px 25px;
  bottom: -35px;
}
/*изменение формы indicators на точки кружки*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #d2d2d2;
  margin-left: 19px;
  margin-left: 19px;
}
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #a3a3a3;
}
/*main menu*/
.btn-outline-secondary {
  background-color: white;
}
.form-control {
    border: 1px solid #6c757d;
}
.form-control.mr-sm-2 {
  margin-right: 0 !important;
}
.main-menu {
  width: 100%;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: transparent !important;
}
.container.main-menu {
  background-color: black;
  z-index: 222;
  border-radius: 3px;
}
.navbar-brand img {
  float: left !important;
}
.navbar-brand {
  height: 50px;
}
.main-menu {
  top: 30px;
  position: absolute;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 14px;
  transition: 2s;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #333;
  border-radius: 3px;
}
.navbar,
.navbar-brand {
  padding: 0;
}
.navbar-brand span {
  display: inline-block;
  padding-left: 10px;
  line-height: 50px;
  font-weight: bold;
  font-size: 30px;
}
/* .search {
  position: absolute;
  color: white;
  line-height: 50px;
  right: 10px;
  cursor: pointer;
  display: none !important;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 25px;
  height: auto;
  padding: 5px;
}
.search:hover {
  color: red;
  background-color: #333;
  transition-duration: 3s;
  font-weight: bold;
} */





/* --------content--------*/
.maine-slogan {
  background-color: white;
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada;
}
.maine-slogan h1 {
  font-size: 30px !important;
  margin: 0 auto;
}

/*Виджеты сайдбара*/
.sidebar {
  padding-top: 20px;
  padding-bottom: 70px;
  border-right: 3px solid #dadada;
}
.widget {
  border-bottom: 3px solid #dadada;
  padding: 0;
}
.widget h3,
.content h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.content {
  padding-top: 20px;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget ul li a{
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  color: black;
  display: block;
}
.more a {
  color: #358acd !important;
}
/*slide sitebar*/
.sidebar .carousel {
  margin-bottom: 20px;
}
.sidebar .carousel-caption-sitebar {
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
}
.sidebar .carousel-caption-sitebar div {
  padding: 20px;
}
.sidebar .carousel-caption-sitebar h5 {
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.sidebar .carousel-caption-sitebar p {
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  color: #5b5b5b;
  margin-bottom: 40px;
}
/*индикаторы карусели в сайдбаре*/
.carousel-indicators {
  background-color: white;
  bottom: 0;
  width: auto;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #e1e1e1;
}
.sidebar .carousel-indicators li{
  background-color: #5b5b5b;
  margin: 0 3px;
}

/*banner*/
.sidebar .banner {
  background-color: white;
}
.sidebar .banner p {
  background-color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}
.banner .btn.btn-red.my-2.my-sm-0 {
    margin-top: 20px !important;
}
.sidebar .banner p span {
  font-size: 28px;
  font-weight: bold;
}
.banner img {
  margin-bottom: 35px;
}
.sidebar .banner .btn.btn-red.my-2.my-sm-0 {
  padding: 5px 30px;
  font-size: 18px !important;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
.banner {
  padding-bottom: 20px;
}
/*about*/
.sidebar .about h3 {
  margin: 20px 0;
}
.sidebar .about p {
  color: #585858;
}
.sidebar .about span {
  color: #0a94b2;
}
/*-карточка товара*/
/* .product {
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 25px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 452px;
  transition-duration: .9s;
} */
.product {
  background-color: white;
  border: 1px solid #c0c0c0;
  padding: 25px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 452px;
  transition-duration: .9s;
}
.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, .5);
}
.product-favorites {
  position: absolute;
  top: 10px;
  right: 20px;
}
.product-favorites {
  color: #909090;
  font-size: 20px;
}
.product-sale {
  /* border-radius: 50%; */
  position: absolute;
  left: 15px;
  top: 15px;
  border: 1px solid #d1d1d1;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.product-img {
  height: 200px;
  width: 100%;
}
.product-title a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.product-title {
  max-height: 45px !important;
  overflow: hidden !important;
}
.product-desc {
  max-height: 40px !important;
  overflow: hidden !important;
}
.product-price {
  color: #d51e08;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.product-buy .btn {
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
}
.product-buy .btn:hover {
  background-color: #ececec;
}
.product-buy {
  position: absolute;
  bottom: 28px;
  left: 0;
  text-align: center;
  width: 100%;
}
.banner-row {
  margin: 30px 0;
  text-align: center;
}
.banner-row img {
  margin: 5px 0;
}
